{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Playground{% endblock %}

{% block main %}
    <div class="container-fluid">
       <div class="row">
           <div class="col">
               {{ form_start(form, { attr: { novalidate: 'novalidate' }}) }}
                   {{ form_row(form.url) }}
                   {{ form_row(form.format) }}
                   <button type="submit" class="btn btn-primary">Create</button>
               {{ form_end(form) }}
           </div>
           <div class="col">
               {% set open_graph_image_url = url('app_generate', open_graph_image_request) %}
               <iframe width="{{ open_graph_image_width }}" height="{{ open_graph_image_height }}" src="{{ open_graph_image_url }}" class="shadow-sm"></iframe>

               <hr>

               <div class="form-group">
                     <label for="open_graph_image_url">Open Graph Image URL (preview) </label>
                     <input type="text" class="form-control" id="open_graph_image_url" value="{{ open_graph_image_url }}" readonly>
               </div>
           </div>
       </div>
    </div>
{% endblock %}
