{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Playground{% endblock %}

{% block main %}
    <div class="container-fluid">
       <div class="row">
           <div class="col-4">
               {{ form_start(form, { attr: { novalidate: 'novalidate' }}) }}
                   {{ form_row(form.url) }}
                   {{ form_row(form.format) }}
                   <button type="submit" class="btn btn-primary">Create</button>
               {{ form_end(form) }}
           </div>
           <div class="col">
               <iframe width="100%" style="aspect-ratio: 1200 / 630" src="{{ image_url }}" class="shadow-sm"></iframe>

               <hr>

               <div class="form-group">
                     <label for="image_url">Open Graph Image URL (preview) </label>
                     <input type="text" class="form-control" id="image_url" value="{{ image_url }}" readonly>
               </div>
           </div>
       </div>
    </div>
{% endblock %}
